h2 {
    color: black;
    margin: 0 0 0 2%;
    text-align: left;
}

h3 {
    color: black;
    margin: 1% 0 1% 2%;
    text-align: left;
}

p {
    margin: 0 0 0 2%;
    text-align: left;
    font-size: .95rem;
}

.proPic {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 8%;
    margin: 0 2% 0 0;
}


.likeBtn {
    display: flex;
    gap: 1%;
    align-items: center;
   margin-left: 2%;
}

.downloadBtn {
    display: flex;
    justify-content: end;
    margin-right: 3%;
}