.sortArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 4%;
    border-radius: 10px;
    padding: 0 1%;
}

.sortBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    gap: 2%;
}