.barElement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    border: 2px dashed;
    width: 80%;
    margin: 1% 10%;
    border-radius: 15px;
    padding: 1% 0;
}