.recived-body {
  background-color: white;
  padding: 5px 15px;
  border-radius: 4px;
  width: fit-content;
  max-width: 70%;
  margin-bottom: 10px;
  align-self: flex-start;
}
.sent-body {
  background-color: #780000;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  width: fit-content;
  max-width: 70%;
  margin-bottom: 10px;
  align-self: flex-end;
}
