.mainHeader {
  height: 8vh;
  width: 100%;
  background-color: aquamarine;
  padding: 10px 10px;

  background-color: red;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0;
  color: white;
  display: inline-block;
  margin-left: 70px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
li {
  margin: 0px 10px;
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
.active {
  text-decoration: underline;
}
