.active-link .link {
  border-bottom: #780000 3px solid;
  font-weight: bold;

  color: #780000 !important;
}
.nav-link {
  color: black;
  text-decoration: none;

  display: flex;
}
.header-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}
