.linkCard {
    display: flex;
    align-items: center;
    margin: 5% 0%;
    position: relative;
}

.deleteIcon {
    position: absolute;
    left: 90%;
    opacity: 0;
}

.linkCard:hover .deleteIcon {
   opacity: 1;
}
