.searchBar {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 3% 0 3% 7.5%;
    
}

.cardHolder {
    height: 40vh;
    overflow:  auto;
    scrollbar-color:  #780000 #EBEBEB;
}
