.cardHolder {
    margin-top: 1%;
    height:60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.cardHolder::-webkit-scrollbar {
    width: .5em;
    height: 5px;
}

.cardHolder::-webkit-scrollbar-thumb {
    background-color: #780000;
    outline: 2px solid #333333;
    border-radius: 10px;
}
